.ContactBackgroundImage {
  height: 100vh;
  background-image: url('../../public/contactusBG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}